<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Back End Development</b>
      </mat-panel-title>
      <mat-panel-description>
        one cool thing
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile>
          <div>
              <h3>DEVELOPMENT</h3>
              <p>Responsive development will help make your website easily accessible across all devices.<p>
          </div>
            
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
              <h3>NEWSLETTER DESIGN</h3> 
              <p>A matching newsletter is the perfect way to complement your website & keep in contact.</p>
          </div>
           
        </mat-grid-tile>  
    </mat-grid-list>
  </mat-expansion-panel>