<mat-tab-group class="card-background">
    <mat-tab label="Social Media">
        <ul class="nav navbar-nav">
            <li><a href="https://www.linkedin.com/in/karthick-d-6042a613a" target="_blank" class=""><i class="fa fa-linkedin fa-lg"></i></a></li>
            <li><a href="https://www.meetup.com/members/223561428"><i class="fa fa-meetup fa-lg" aria-hidden="true"></i></a></li>          
            <li><a href="https://github.com/iam-karthick" target="_blank" class=""><i class="fa fa-github fa-lg"></i></a></li>
            <li><a href="https://plus.google.com"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>          
            <li><a href="https://bitbucket.org/iam-karthick" target="_blank" class=""><i class="fa fa-bitbucket fa-lg"></i></a></li>                    
            <li><a href="http://javakarthiklog.blogspot.in"><i class="fa fa-rss fa-lg" aria-hidden="true"></i></a></li>
        </ul> 
    </mat-tab>
    <mat-tab label="Contact Me">
        <div class="h-fix"><i class="fa fa-envelope-o" aria-hidden="true"></i> mail:dkarthickeee12@gmail.com</div> 
        <div class="h-fix"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i> 9087765601</div>        
    </mat-tab>
    <mat-tab label="About This Site">
      <img class="img-fix" src="../images/ng-material.png" alt=""><h4 class="head-fix"> this site was build by angularJS(version:5.0)and pure angular material design</h4>
    </mat-tab>
</mat-tab-group>
