<mat-card class="example-card">
    <b><p id="styles"><i>&lt;body&gt;</i></p></b>    
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <b><p id="styles"><i>&lt;h1&gt;</i></p></b>
        <h1>About me</h1>
        <b><p id="styles"><i>&lt;/h1&gt;</i></p></b>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <b><p id="styles"><i>&lt;article&gt;</i></p></b>        
        <p>I am fascinated and I am enthusiast in <span class="jedi"> front-end developement HTML/CSS/JS, AngularJS.</span></p>
        <p>In angular iam using stock <span class="jedi">angular material design</span> i love to play with material design also<span class="jedi"> angular animation</span> though it was also interesting to develop</p>
        <p>But I also build the PHP MySQL <span class="jedi">web applications</span></p>
        <b><p id="styles"><i>&lt;/article&gt;</i></p></b>        
    </mat-card-content>
    <b><p id="styles"><i>&lt;/body&gt;</i></p></b>           
  </mat-card>